body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Roboto Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

.home{
  background: url('../src/views/assets/images/georgia-de-lotz-JsQ6K5CfJ7s-unsplash.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  filter: grayscale(2);
  text-align: center;
  color: #ffffff;
}

.loading{
  position: fixed;
}

.ds-nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.nav-bg-dark {
  background-color: black !important;
  /* background-color: rgba(0, 0, 0, 0.08); */
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-toggler {
	border: 0px solid rgba(0, 0, 0, 0.08);
}

button.dropdown-toggle.btn.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn {
  border-radius: 0;
}

.btn-default {
  color: #000;
  background-color: #fff;
  border-color: #000;
  padding: 8px 14px;
}

.btn-default:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-secondary{
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-secondary:hover{
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.card {
  border-radius: 0; 
}

.form-control {
  border-radius: 0;
}

.modal-content {
  border-radius: 0;
}

.main-page{
  padding: 0;
  margin: 0;
  /* background-color: #000; */
  overflow: hidden;
  filter: grayscale(1);
}

.left-side {
  height: 100vh;
  /* background: red; */
  background: url('../src/views/assets/images/michael-afonso-z8Tul255kGg-unsplash.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  padding: 0;
}

.left-side-img {
  height: 100vh;
  background: url('../src/views/assets/images/michael-afonso-z8Tul255kGg-unsplash.jpg');
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  filter: grayscale(1);
}

.right-side{
  width: 100vw;
  padding: 0;
  background-color: #000;
}

.left-side-login {
  height: 100vh;
  padding: 0;
  background-color: #000;
}

.right-side-login {
  height: 100vh;
  /* background: red; */
  background: url('../src/views/assets/images/raphael-mittendorfer-GYt9lzMR2Sw-unsplash.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  padding: 0;
}

.right-side-img {
  height: 100vh;
  background: url('../src/views/assets/images/raphael-mittendorfer-GYt9lzMR2Sw-unsplash.jpg');
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right top;
  filter: grayscale(1);
}

/* sweet alert */

.swal2-styled.swal2-confirm {
  border-radius: 0 !important;
  background-color: #000 !important;
}

.swal2-styled.swal2-confirm:hover {
  background-color: #fff !important;
  border: 1px solid #000 !important;
  color: #000 !important;
}

.swal2-popup {
  border-radius: 0 !important;
}

.swal2-title {
  color: #000 !important;
}

.swal2-styled.swal2-cancel {
  border-radius: 0 !important;
}

/* navbar uncontrolled dropdown */

.dropdown-menu {
  border-radius: 0;
}

/* react-day-picker */
.DayPicker-Day--disabled {
  pointer-events: none !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #000 !important;
}

.DayPicker-Day {
  border-radius: 0 !important;
}

/* stripe design */
.bg-payment {
  background-color: rgb(36, 35, 35);
  color: #fff;
}

.stp-brn {
  background-color: #fff !important;
  color: #000 !important;
}


.footer {

  bottom: 0;
}

/* Media Quesries */
@media screen and (max-width: 991px) {
  .right-side-img {
    height: 100vh;
    background: url('../src/views/assets/images/raphael-mittendorfer-GYt9lzMR2Sw-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
  }

  .left-side-login {
    height: 100vh;
    padding: 0;
    background: url('../src/views/assets/images/raphael-mittendorfer-GYt9lzMR2Sw-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }

  .left-side-img {
    height: 100vh;
    background: url('../src/views/assets/images/michael-afonso-z8Tul255kGg-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
  }

  .right-side{
    width: 100vw;
    padding: 0;
    background: url('../src/views/assets/images/michael-afonso-z8Tul255kGg-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }
}